.main{
    margin: 0 auto;
    width: 1000px;
    overflow: hidden;
    border: 0.5px solid grey;
    display: block;
}

.addressSelect > label{
    margin-left: 10px;
}

.addressSelect > select{
    width: 90px;
    height: 20px;
}

.mainDiv{
    width: 400px;
    float: left;
    margin-left: 30px;
    margin-top: 30px;
}

.mainDiv>label{
    display: inline-block;
    width: 100px;
}
.mainDiv>input{
    width: 180px;
    vertical-align: top;
}

.mainDiv>select{
    width: 180px;
    height: 20px;
}

.button{
    margin-top: 251px;
}

.table{
    width: 90%;
    border-collapse:collapse;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.bottomButton{
    float: right;
    margin-right: 100px;
    margin-bottom: 50px;
}

.bottomButton>button{
    margin-left: 10px;
}

.details{
    margin: 0 auto;
    width: 1000px;
    overflow: hidden;
    display: none;
}

.deTable{
    width: 100%;
    border-collapse:collapse;
    margin-top: 100px;
}
.deTable tr td{
    /*border: 0.5px solid grey;*/
    text-align: center;
    padding: 10px 0;
}
.deTable tr td:first-child{
    width: 30%;
}
.deTable tr td:last-child{
    width: 70%;
}
tr>td:nth-child(7),
tr>td:nth-child(8),
tr>td:nth-child(9){
    display: none;
}
